/* Center the content horizontally and vertically */
.flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  /* Style the canvas */
  canvas {
    background-color: black;
  }

  .absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .right-0 {
    right: 0;
  }

  /* .start-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Change this to your desired background color 
    z-index: 9999;  Make sure the start page is above other content 
  }
  
  .transition-effect {
    transition: transform 0.5s ease;
    transform: translateX(-50%);
  } */
  
  .slide-in{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: bottom;
  }

  .slide-out{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: top;
  }

  .start-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 999; /* Ensure it's on top of other content */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .app-page {
    z-index: 999; /* Ensure it's on top of other content */
    /* background-color: rgb(22, 194, 220); */
    background-color:rgb(7, 48, 4);
  }

  .start-text {
    color: white; /* Set the text color to white */
  }

  .canvas-border {
    border: 15px solid blue !important;
    border-radius: 12px !important;
    max-width: 1000;
    max-height: 1000;
    width: 70%;
    height: 70%;
  }

   @media (max-width: 600px) {
    .canvas-border {
      border-width: 5px;
      width: 70%; 
      height: 70%;
    }
  } 

  
  .leaderboard-and-rules-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    /* margin-top: 20px; Adjust as needed */
  }
  
  @media (min-width: 768px) {
    .leaderboard-and-rules-container {
      flex-direction: row; /* Side by side */
      justify-content: space-between; /* Evenly distribute space */
      align-items: flex-start; /* Align items at the start */
    }
  
    .leaderboard-container {
      /* margin-left: 20px; */
      width: 70%; /* 70% of the parent container */
    }
  
    .rules-container {
      flex: 1;
      margin-right: 10px; /* Take up remaining space */
    }
  }
  
  